@import "tailwindcss";

@font-face {
  font-family: "inter-regular";
  font-display: swap;
  src: url("/public/fonts/inter-regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter-light";
  font-display: swap;
  src: url("/public/fonts/inter-light.ttf") format("truetype");
}
@font-face {
  font-family: "inter-black";
  font-display: swap;
  src: url("/public/fonts/inter-black.ttf") format("truetype");
}
@font-face {
  font-family: "inter-bold";
  font-display: swap;
  src: url("/public/fonts/inter-bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-extrabold";
  font-display: swap;
  src: url("/public/fonts/inter-extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-extralight";
  font-display: swap;
  src: url("/public/fonts/inter-extralight.ttf") format("truetype");
}
@font-face {
  font-family: "inter-medium";
  font-display: swap;
  src: url("/public/fonts/inter-medium.ttf") format("truetype");
}
@font-face {
  font-family: "inter-semibold";
  font-display: swap;
  src: url("/public/fonts/inter-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-thin";
  font-display: swap;
  src: url("/public/fonts/inter-thin.ttf") format("truetype");
}

@font-face {
  font-family: "ibm-mono-regular";
  font-display: swap;
  src: url("/public/fonts/ibm-mono-regular.ttf") format("truetype");
}

@font-face {
  font-family: "ibm-mono-semibold";
  font-display: swap;
  src: url("/public/fonts/ibm-mono-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "ibm-mono-bold";
  font-display: swap;
  src: url("/public/fonts/ibm-mono-bold.ttf") format("truetype");
}

@theme {
  --font-inter-regular: "inter-regular";
  --font-inter-light: "inter-light";
  --font-inter-black: "inter-black";
  --font-inter-bold: "inter-bold";
  --font-inter-extrabold: "inter-extrabold";
  --font-inter-extralight: "inter-extralight";
  --font-inter-medium: "inter-medium";
  --font-inter-semibold: "inter-semibold";
  --font-inter-thin: "inter-thin";
  --font-ibm-mono-regular: "ibm-mono-regular";
  --font-ibm-mono-semibold: "ibm-mono-semibold";
  --font-ibm-mono-bold: "ibm-mono-bold";
}

@layer utilities {
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray track background */
    border-radius: 10px;
  }
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 10px;
  }
}
